# === Client Configuration ===

# Defaults to Production when unset
# VITE_HYHYVE_BASE_URL=https://staging.hyhyve.com # Staging
# VITE_HYHYVE_BASE_URL=http://localhost:1234 # Local Dev (You probably won't need this... yet 🤫)

# === Token-Server-Example Configuration ===

# HyHyve API Credentials
# Get these from your HyHyve account
HYHYVE_API_KEY=your_api_key_here
HYHYVE_CLIENT_ID=your_client_id_here

# Token Server Port
PORT=3000
